extends layout

block dfg_content
    div.col-md-8(style="padding-top:10px")
        h2 IBM-BPM to DreamFace Cloud App Platform
        p.
            This generator is used to generate DreamFace widgets from an existing process.
        div.panel.panel-default
            div.panel-heading
                div.panel-title
                    span.glyphicon.glyphicon-flash
                    span(style="margin-left:10px") BPM Server Access
            div.panel-body
                form(role="form")
                    div.form-group.col-md-6
                        label(for="fldServerAddress") Server Address
                        div.input-group
                            input#fldServerAddress.form-control(placeholder="http://172.20.12.42:9080")
                            span.input-group-btn
                                button.btn.btn-primary(type="button", onclick="ibmbpmGetProcesses();") Connect
                    span#panelAvailableProcesses(style="display:none")
                        div.form-group.col-md-4
                            div.input-group
                                label(for="fldAvailableProcesses") Available Processes
                                select#fldAvailableProcesses.form-control(onchange="ibmbpmClearSnapshots();")
                        div.form-group.col-md-2
                            label &nbsp;
                            button.btn.btn-primary(type="button", onclick="ibmbpmGetSnapshots();") Load Snapshots
                    span#panelAvailableSnapshots(style="display:none")
                        div.form-group.col-md-12
                            div.input-group
                                label(for="fldAvailableSnapshots") Available Snapshots
                                select#fldAvailableSnapshots.form-control
                        div.form-group.col-md-12
                            button.btn.btn-primary(type="button", onclick="ibmbpmGetVariables();") Load Variables