extends layout

block dfg_content
    div.col-lg-12(style="padding-top:10px")
        h2 IBM-BPM to DreamFace Cloud App Platform
        p.
            This generator is used to generate DreamFace widgets from an existing process.
        div.panel.panel-default
            div.panel-heading
                div.panel-title
                    span.glyphicon.glyphicon-flash
                    span(style="margin-left:10px") BPM Server Access
                    a.pull-right(href="#", onclick="ibmbpmToggleServerAccessPanel();")
                        span#panelServerAccessToggleIcon.glyphicon.glyphicon-circle-arrow-down
            div#panelServerAccess.panel-body
                form(role="form")
                    div#panelServerAddress.col-lg-6
                        div.form-group.col-lg-8
                            div.input-group
                                label(for="fldServerAddress") Server Address
                                input#fldServerAddress.form-control(placeholder="http://172.20.12.42:9080")
                        div.form-group.col-lg-4(style="padding-top: 24px;")
                            button.btn.btn-primary(type="button", onclick="ibmbpmGetProcesses();") Connect
                    div#panelAvailableProcesses.col-lg-6(style="display:none")
                        div.form-group.col-lg-4
                            div.input-group
                                label(for="fldAvailableProcesses") Available Processes
                                select#fldAvailableProcesses.form-control(onchange="ibmbpmClearSnapshots();")
                        div.form-group.col-lg-8(style="padding-top: 24px;")
                            button.btn.btn-primary(type="button", onclick="ibmbpmGetSnapshots();") Load
                    div#panelAvailableSnapshots.col-lg-6(style="display:none")
                        div.form-group.col-lg-8
                            div.input-group
                                label(for="fldAvailableSnapshots") Available Snapshots
                                select#fldAvailableSnapshots.form-control
                        div.form-group.col-lg-4(style="padding-top: 24px;")
                            button.btn.btn-primary(type="button", onclick="ibmbpmGetAssets();") Load
                    div.col-lg-6(style="display:none")
        div#panelVariablesTitle.panel(style="position:fixed;left:15px;right:15px;top:400px;height:40px;box-shadow:0px;display:none")
            div.panel-body(style="padding:0px;height:100%")
                div.panel.panel-info.col-lg-2(style="padding:0px;border-radius:0px;box-shadow:0px;height:100%")
                    div.panel-heading
                        div.panel-title
                            span Human Services
                div.panel.panel-info.col-lg-4(style="padding:0px;border-radius:0px;box-shadow:0px;height:100%")
                    div.panel-heading
                        div.panel-title
                            span#humanServiceDescTitle(style="margin-top:0px") Description
                div.panel.panel-info.col-lg-6(style="padding:0px;border-radius:0px;box-shadow:0px;height:100%")
                    div.panel-heading
                        div.panel-title
                            span Widget Properties
        div#panelVariables.panel(style="position:fixed;left:15px;right:15px;bottom:35px;top:440px;box-shadow:0px;display:none")
            div.panel-body(style="padding:0px;height:100%")
                div#humanServices.panel.panel-info.col-lg-2(style="padding:0px;border-radius:0px;box-shadow:0px;height:100%;overflow:auto")
                    div.panel-body(style="border:0")
                        div#humanServicesListItems
                div#humanServiceDesc.panel.panel-info.col-lg-4(style="padding:0px;border-radius:0px;box-shadow:0px;height:100%;overflow:auto")
                    div.panel-body
                        div#humanServiceModel
                            div#humanServiceModelPropertiesPanel.input-group
                                label Properties
                                ul#humanServiceModelProperties
                div#widgetProperties.panel.panel-info.col-lg-6(style="padding:0px;border-radius:0px;box-shadow:0px;height:100%;overflow:auto")
                    div.panel-body
                        form(role="form")
                            div.form-group.col-lg-6
                                div.input-group.col-lg-12
                                    label(for="fldWidgetName") Widget Name
                                    input#fldWidgetName.form-control
                            div.form-group.col-lg-6
                                div.input-group.col-lg-12
                                    label(for="fldWidgetCategory") Widget Category
                                    input#fldWidgetCategory.form-control
                            div.form-group.col-lg-12
                                div.input-group.col-lg-12
                                    label(for="fldWidgetDescription") Widget Description
                                    input#fldWidgetDescription.form-control
                            div.form-group.col-lg-12
                                div.input-group.col-lg-12
                                    label Widget Content
                                    div#widgetContentPanel(style="border: 3px #ccc dashed;width:100%;height:auto;min-height:100px;margin-bottom:10px")
                                        ul#widgetContentList(element-data-type="sortable")
                                    button.btn.btn-primary(onclick="$('#widgetContentList').empty();") Clear
                            div.form-group.col-lg-12
                                div.input-group.col-lg-12
                                    label Generation
                                    br
                                    button.btn.btn-primary(onclick="ibmbpmGenerateToDFCloudApp();") Start