body {
    padding-top: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* BODY */

#dfg_body {
    width: 100%;
    overflow: auto;
    background:#fff;
    padding-top: 55px;
    padding-bottom: 30px;
}

#dfg_header {
    background:#00365b;
    height:55px;
    width:100%;
    top:0;
    left:0;
    z-index:2;
    position: fixed;
}

#dfg_footer {
    background:#001e34;
    color:#fff;
    text-align:center;
    height:30px;
    width:100%;
    bottom:0;
    left:0;
    z-index:2;
    position: fixed;
    font-size:12px;
    padding-top:5px;
}

.dfg_header_vertical_border {
    background: url(/images/dfg_vertical_border.png);
    height: 55px;
    width: 2px;
    margin-right: 10px;
    float: left;
}

#dfg_header_logo {
    background: url(/images/dfg_logo_studio.png);
    height: 55px;
    width: 289px;
    float: left;
    cursor: pointer;
}

#dfg_header_menu {
    padding-top:10px;
}

/* Draggable elements */

.dfg_draggable {
    cursor: move;
}

/* Diagram BPM Elements */

.dfg_bpm_swimlane {
    position: absolute;
    min-width: 100%;
    border:1px #ccc solid;
}

.dfg_bpm_swimlane_Blue {
    background: #75c0ff;
    color: #000;
}

.dfg_bpm_swimlane_Green {
    background: #dcffca;
    color: #000;
}

.dfg_bpm_swimlane_Purple {
    background: #fff2fe;
    color: #000;
}

.dfg_bpm_swimlane_Default {
    background: #f0f0f0;
    color: #000;
}

.dfg_bpm_activity_txt {
    text-align: center;
    vertical-align: middle;
    font-family: arial, sans-serif;
    font-size: 11px;
    color: #383838;
}

.dfg_bpm_start {
    width:40px;
    height:40px;
    line-height:36px;
    border:1px #383838 solid;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    font-family: arial, sans-serif;
    font-size: 11px;
    color: #383838;
    background: #a1a1a1;
}

.dfg_bpm_start {
    width:25px;
    height:25px;
    border:3px #383838 solid;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    background: #cecece;
}

.dfg_bpm_start_txt {
    font-family: arial, sans-serif;
    font-size: 11px;
    color: #383838;
}

.dfg_bpm_end {
    width:25px;
    height:25px;
    border:3px #383838 solid;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    background: #cecece;
}

.dfg_bpm_end_txt {
    font-family: arial, sans-serif;
    font-size: 11px;
    color: #383838;
}